@media screen and (min-width: 680px) {

  /* =============================================

              所有页面共用

  ===============================================*/
  /***********************************************
          1.  所有页面 - 基本元素和结构
  ************************************************/

  /*++++++++++ 页面基本元素  +++++++++++*/
  /*=== HTML元素 ====*/
  html { font-size: 65.5%; }

  /*++++++++++ 基本页面结构containers +++++++++++*/
  .flexbox {
    flex-direction: row;
    -webkit-flex-direction: row;
    align-content: space-between;
    align-items: flex-end;
  }

  main {
    width: 95%;
    margin: auto;
  }
  /***********************************************
    2. 所有页面 - 页面顶部、抬头、浏览导航、页脚、底部
  ************************************************/
  /*++++++++++++++++++ 页面顶部 ++++++++++++++++++*/
  .top {
    min-height: 50px;
  }

  .hamburger,
  .lang-btn {
    display: none;
  }

  .home-btn {
    position: absolute;
    width: 4rem;
    padding: 5px;
    border-style: none;
  }

  .languages {
    display: block;
  }

  .top .languages {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%; /* align with name and search box widths*/
    text-align: center;
    text-align: right;
  }

  .top .languages ul {
    width: 100%;
  }


  .languages li {
    float: left;
    display: block;
    width: 25%;
    text-align: center;
  }

  .languages li a {
    font-size: 1.2rem;
  }


  /*++++++++++++++++++ 页面抬头 +++++++++++++++++++*/
  header {
    padding: 30px 10px;
  }

  .search {
    display: block;
  }

  .logo,
  .sub {
    margin: 0;
    padding: 0;
  }

  header .logo { width: 40%;}
  .sub { width: 60%; }

  .name {
    text-align: center;
  }

  .logo img{
    max-height: 150px; /* make the logo image as high as name and search box*/
    max-width: 150px; /* make sure the img is propotional */
  }


  /*+++++++++++++++++++ 页面浏览导航 ++++++++++++++++++++*/
  /* 显示导航菜单和消除透明 */
  .nav {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 100; /* remove transparent effect */
  }

  /* 无需菜单关闭按钮 */
  .close-btn {
    visibility: hidden;
  }

  /* 光标所在的主要导航页面 */
  .nav .selected {
    background: rgb(236, 109, 27);
  }

  /* 导航菜单横条设计 */
  .nav {
    width: 100%; /* Spans the width of the container */
  	height: 55px;
  	margin: 0; /* Ensures there is no space between sides of the screen and the menu */
  	z-index: 99; /* Makes sure that these elements remains on top of other page elements */
  	position: relative; /* the first parent relative element to .navbar */
  	background-color: #366b82;
    color: white;
  }

  .nav > ul {
    height: 5rem;
    width: 100%;
    padding: 0;
    margin: 0;
    position: absolute; /* Ensures that the expanded menu list doesn’t affect other elements */
  }

  .nav > ul > li	{
		height: auto;
		width: 16.66%;  /* 100% / 6  */
		float:left;  /* This lines up the menu items horizontally */
		text-align: center;  /* All text is placed in the center of the box */
		color: white;
		padding: 0;
		margin: 0;
  }

  /* So far, we’ve created a list, removed the bullets, and lined up all of the list items horizontally. The next bit of code styles the anchor tags that are found in each list item. As you will see from the image, each anchor tag is the same size and shape as the list item. Here’s the code for each anchor. */
  .nav > ul > li a,
  .nav > ul > li span	{
      display: block; /* so we can add top/bottom padding*/
  		padding: 18px 0; /* add top and bottom padding to make the content vertically centered */
  		color: white; /* Text color is white */
  		font-size: 1.2rem;
  }

  /*The next style is responsible for changing the color of each menu item’s background when hovered over with a mouse pointer. */
  .nav > ul> li:hover {background-color: #54879d;}

  /* The first style hides the drop-down menu, while the second style displays it when a mouse pointer is hovered over the main menu item. Here’s the code: */
  .nav > ul > li > ul	{
  		display: none;  /* Hides the drop-down menu */
  		height: auto;
  		margin: 0; /* Aligns drop-down box underneath the menu item */
  		padding: 0; /* Aligns drop-down box underneath the menu item */
  }
  .nav > ul li:hover ul{
      display: block; /* Displays the drop-down box when the menu item is hovered over */
  }

  .nav> ul > li > ul > li {
    margin: 0;
    background-color: #54879d;
    clear: left; /* clear float left from .navbar li */
    width:100%; /* make sure the width of the sublist item is same as .navbar li*/
  }

  .nav > ul > li > ul > li a {
  		border-top: 1px solid #74a3b7;
  		border-bottom: 1px solid #1f5065;
  		}

  .nav> ul li ul li a:hover{background-color: #366b82;}

  .nav {
    border-style: none;
  }


  /*++++++++++++++++++++ 页脚部分 +++++++++++++++++++++++++*/
  footer {
    padding: 3rem;
  }

  footer .col {
    margin: 0 auto;
    padding: 1.8rem 1rem;
    width: 28%;
    align-self: flex-start;
  }


  /***********************************************
          3.   所有页面 - 主要内容部分 （MAIN）
  ************************************************/

  .main-content {
    width: 70%;
    align-self: flex-start;
  }

  .content-nav {
    width: 30%;
    align-self: flex-start;
  }

  .content-nav ul {
    flex-direction: column;
    padding: 4rem 2rem;
  }

  .content-nav li {
    width: 100%;
    text-align: left;
    background: orange;
    padding: 1rem 2rem;
  }


  /* =============================================

              首页页面专用

  ===============================================*/
  /***********************************************
          3.  首页页面 - 主要内容部分 （MAIN）
  ************************************************/
  .main-bottom {
    flex-direction: column;
  }

  /* =============================================

              一般内容页 - 分公司网络内容页专用

  ===============================================*/

  #marker-list,
  #oversea-office {
    background: none;
  }



  /* =============================================

              文章内容页专用

  ===============================================*/
  /***********************************************
          文章内容页 - 主要内容部分 （MAIN）
  ************************************************/
  /* .article-middle部分 */
  .article-middle .article,
  .article-middle .sidebar {
    float: left;
  }

  .article-middle .article { width: 70%; }
  .article-middle .sidebar { width: 30%; }

  /* =============================================

              法律人员搜索页专用

  ===============================================*/
  .search-form {
    text-align: left;
  }

  .inputfield input { width: 48%; }
  .inputfield input:nth-child(2n+1) { margin-left: 2%;}


  /* =============================================

              法律人员介绍页专用

  ===============================================*/

  .bio {
    flex-wrap: nowrap;
  }

  .bio-general {
    align-self: flex-start;
    padding-right: 3.5rem;
  }

  .bio-general {
    width: 35%;
    text-align: right;
  }

  .links {
    float: right;
    width: 100px;
    text-align: right;
    margin-right: 0;
  }

  .links li {
    float:none;
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }

  .bio .practices li {
    display: list-item;
  }

  /* =============================================

              分所页面专用

  ===============================================*/
  .branch-top .languages {
    position: absolute;
    right: 0;
    top: 0;
    width: 35%;
    text-align: right;
    z-index: 99;
  }

  .branch-header .languages li {
    width: 20%;
  }

  .branch-header { position: relative; }
  .branch-header .languages {
    position: absolute;
  }

  .branch-name  {
    text-align: center;
  }

  .branch-header h1 {
    font-size: 3.5rem;
  }

  .branch-header ul {
    flex-wrap: wrap;
    width: 100%;
    margin: 2.5rem auto;
    align-items: flex-start;
  }

  .branch-header li {
    flex-grow: 2;
    border: 0;
    white-space: nowrap;
    margin-right: 10px;
  }

  .branch-header li:last-child {
    flex-grow: 1;
    margin-right: 0;
  }

  .branch-middle .flexbox {
    align-items: flex-start;
  }

  .branch-middle .flexbox > * {
    width: 50%;
  }

  .branch-middle .flexbox > div:first-child {
    margin-right: 3.5rem;
  }

  .branch-personnel li {
    width: 25%;
  }



  /*=== 特别CSS CLASS元素 ===*/
  /* 被选择的文字部分 */
  li.text_selected { border-bottom: 0; background:  #366b82;  }
  .text_selected a { color: white; }


} /* min-width: 680px 结束*/

@media screen and (min-width: 860px) {

  /* =============================================

              所有页面共用

  ===============================================*/
  /***********************************************
          1.  所有页面 - 基本元素和结构
  ************************************************/

  /*++++++++++ 页面基本元素  +++++++++++*/
  html { font-size: 70.5%; }

  /*++++++++++ 基本页面结构containers +++++++++++*/
  .top,
  .container,
  .nav,
  main,
  footer,
  .bottom,
  .branch-header,
  .branch-top {
    width: 95%;
    max-width: 1200px;
    margin: auto;
  }

  .flexbox-2 {
    flex-direction: row;
  }

  .flexbox-4 {
    flex-direction: column;
  }


  /***********************************************
    2. 所有页面 - 页面顶部、抬头、浏览导航、页脚、底部
  ************************************************/
  /*++++++++++++++++++ 页面顶部 ++++++++++++++++++*/
  .top {
    min-height: 0;
  }

  .top .home-btn {
    display: none;
  }

  .top .languages {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 33%; /* align the width of search box */
    text-align: center;
    z-index: 99;
  }



  /*++++++++++++++++++ 页面抬头 +++++++++++++++++++*/
  header {
    padding: 40px 0;
  }

  .logo { width: 5%; }
  .sub { width: 95%;  }

  .sub {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  .sub .name { width: 55%; margin-right: 1.5rem;}
  .sub .search { width: 40%; }

  .logo img{
    max-height: 110px;
    max-width: 110px;

  }

  .name * {
    margin-bottom: 0;
    text-align: left;
  }

  /*++++++++++++++++++++ 页脚部分 +++++++++++++++++++++++++*/
  footer {
    padding: 3rem;
  }


  /***********************************************
          3.   所有页面 - 主要内容部分 （MAIN）
  ************************************************/

  .main-content {
    width: 78%;
    align-self: flex-start;
  }

  .content-nav {
    width: 22%;
    align-self: flex-start;
  }


  /* =============================================

              首页页面专用

  ===============================================*/
  /***********************************************
          首页页面 - 主要内容部分 （MAIN）
  ************************************************/

  .top-content,
  .about,
  .awards,
  .tabs {
    border:0;
  }

  .top-content {margin-top: 0; padding-top: 0;}

  .top-content, .tabs { padding: 0 2%; }



  /*++++++++++++++++++++ 顶部内容 +++++++++++++++++++++++++*/

  .main-top {
    display: flex;
    flex-direction: row;
  }

  .main-top .slider { width: 70%; }
  .main-top .top-content { width: 30%; }



  .top-content {
    background: #f7f7f0; rgba(72, 73, 77, 0.15);
    font-size: 1.5rem;
    padding: 0;
    /*border-bottom: 5px solid rgb(212, 119, 35);*/
  }

  .top-content > * {
    margin: 0;
    padding: 0;
  }

  .top-content > div {
    margin-bottom: 1.5rem;
  }

  .top-content > * li  {
    margin-bottom: 10px;
  }

  .top-content > *  h2  {
    margin-top: 0;
    background: #366b82; /*rgb(212, 119, 35) */
    color: white;
    padding: 5px 20px;
  }

  .top-content .news,
  .top-content .viewmore-btn {
    padding: 0 20px;
  }




  /*++++++++++++++++++++ 底部内容 +++++++++++++++++++++++++*/
  .main-bottom {
    overflow: hidden; /* required to make same height of .intro and .tabs*/
    flex-direction: row;
    align-items: flex-start;
  }

  .intro {
    width: 35%;
    padding-right: 3%;
    text-align: justify;
    border: 0;
  }

  .tabs {
    width: 65%;
    padding: 0;
    padding-right: 0;
  }

  .intro > div {
    margin: 0; /* remove .awards and .about margin-bottom which applied to smaller screen)*/
  }

  .intro h2 {
    background: #366b82;
    color: white;
    padding: 5px 20px; /* same padding style as .top-content h2*/
    margin-top: 0;
  }

  .intro > div:first-child {
    margin-bottom: 1rem;
  }




  /* =============================================

              文章内容页专用

  ===============================================*/
  /***********************************************
          文章内容页 - 主要内容部分 （MAIN）
  ************************************************/
  .article { width: 80%; padding-right: 3%;}
  .sidebar { width: 20%; padding-left: 2%;}


  /* =============================================

              法律人员搜索页专用

  ===============================================*/

  .inputfield input { width: 31%; }

  .inputfield input:nth-child(2n+1) { margin-left: 0;}

  .inputfield input:nth-child(3n) { margin: 0 2%; }



  /* =============================================

              法律人员搜索结果页专用

  ===============================================*/

  ul.result-info {
    width: 65%;
    margin: 0 auto;
  }

  /* =============================================

              法律人员介绍页专用

  ===============================================*/
  .bio {
    width: 100%;
  }

  .bio-general  {
    width: 25%;
  }

  .bio-detail {
    width: 75%;
  }


  /* =============================================

              分所页面专用

  ===============================================*/
  .branch-header h1 {
    font-size: 4.5rem;
  }

  .branch-header ul {
    width: 80%;
  }

  .branch-personnel li {
    width: 20%;
  }



}/* min-width: 860px 结束*/
